{% extends 'base.html' %}

{% load static %}

{% block title %} LOGIN {% endblock title %}

{% block main %}

<div class="container">
    <p class="text-center">
        INICIAR SESIÓN
    </p>
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Usuario</label>
            <input type="text" name="username" class="form-control" id="exampleFormControlInput1">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleFormControlInput2">
          </div>
          <input type="submit" value="Iniciar">
    </form>
</div>

{% endblock main %}