{% extends 'base.html' %}

{% load static %}

{% block title %} Article {% endblock title %}

{% block main %}

<div class="container">
    <div class="row align-items-start">
        {% for item in article_list %}

                <h5>
                  {{item.articles_name}}
                </h5>
                <h6>
                  {{item.articles_subname}}
                </h6>
                <hr>
                <p>
                  {{item.articles_text}}
                </p>
                <hr>
                <p>
                  Year: {{item.articles_year}}
                </p>
                  </div>
        {% endfor %}
    </div>


</div>

{% endblock main %}