{% extends 'base.html' %}

{% load static %}

{% block title %} Articles {% endblock title %}

{% block main %}

<div class="container">
   {% if articles_list %}
      {% for item in articles_list %}
      <p>
         <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#c{{item.id}}" aria-expanded="false" aria-controls="c{{item.id}}">
            {{item.articles_name}}
         </button>
      </p>
      <div class="collapse" id="c{{item.id}}">
         <div class="card card-body">
            {{item.articles_subname}}
            <a href="/menu/article/{{item.id}}">Ver Completo</a>
         </div>
      </div>
      {% endfor %}
   {% else %}
      <p class="text-center">No hay elementos en la lista.</p>
   {% endif %}
</div>

{% endblock main %}