{% extends 'base.html' %}

{% load static %}

{% block title %} CRUD Work {% endblock title %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <div class="card">
      <div class="card-body">
    <form action="/menu/add_work/" method="POST">
        {% csrf_token %}
        ADD
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Titulo</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name ="work_name">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Url</label>
            <input type="text" class="form-control" id="exampleFormControlInput2" name="work_url" >
          </div>
          <input type="submit" value="Send">
    </form>
      </div>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
      <h3>Listado de Trabajos</h3>
      <div class="table-responsive py-2">
        <table class="table table-striped">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Url</th>
            <th>Year</th>
            <th colspan="2">Opcion</th>
        </tr>
        <tbody>
          {% for item in work_list %}
          <tr>
          <td>{{item.id}}</td>
          <td>{{item.work_name}}</td>
          <td>{{item.work_url}}</td>
          <td>{{item.work_year}}</td>
          <td><a href="/menu/edit_work/{{item.id}}" class="btn btn-info">Edit</a></td>
          <td><a href="/menu/delete_work/{{item.id}}" class="btn btn-danger btnEliminacion">Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</div>

{% endblock main %}