{% extends 'base.html' %}

{% load static %}

{% block title %} About Me {% endblock title %}

{% block main %}

<div class="container">
    {% for item in usuario %}
    <ul style="list-style-type: none;">
        <li><b>Names:</b> {{item.first_name}}</li>
        <li><b>LastName:</b> {{item.last_name}}</li>
        {% for item2 in profile %}
        <li><b>City:</b> {{item2.city}}</li>
        <li><b>Country:</b> {{item2.country}}</li>
        <li><img style="width: 20vw;" src="{{item2.imagen.url}}" alt="{{item2.imagen}}" ></li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>

{% endblock main %}