{% extends 'base.html' %}

{% load static %}

{% block title %} CRUD Menu {% endblock title %}

{% block main %}

<div class="container">
        <div class="row" style="margin-bottom: 10px;">
                <a href="{% url 'EndSession' %}"><button type="button" class="btn btn-warning">Logout</button></a>
        </div>
        <div class="row">
                <div class="col">
                        <a href="/menu/edit_user/"><button type="button" class="btn btn-primary">User</button></a>
                </div>
                <div class="col">
                        <a href="/menu/edit_profile/"><button type="button" class="btn btn-primary">Profile</button></a>
                </div>
                <div class="col">
                        <a href="{% url 'FormArticles' %}"><button type="button" class="btn btn-primary">Articles</button></a>
                </div>
                <div class="col">
                        <a href="{% url 'FormExperience' %}"><button type="button" class="btn btn-primary">Experience</button></a>
                </div>
                <div class="col">
                        <a href="{% url 'FormMyWork' %}"><button type="button" class="btn btn-primary">My Work</button></a>
                </div>
        </div>
</div>

{% endblock main %}