{% extends 'base.html' %}

{% load static %}

{% block title %} My Work {% endblock title %}

{% block main %}

<div class="container">

    <div class="row align-items-start">

        <div class="table-responsive py-2">
            <table class="table table-striped">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Url</th>
                <th>Year</th>
            </tr>
            <tbody>
              {% for item in work_list %}
              <tr>
              <td>{{item.id}}</td>
              <td>{{item.work_name}}</td>
              <td><a href="https://{{item.work_url}}" target="_blank">Link</a></td>
              <td>{{item.work_year}}</td>
              </tr>
              {% endfor %}
            </tbody>
            </table>
          </div>
        
    </div>
</div>

{% endblock main %}