{% extends 'base.html' %}

{% load static %}

{% block title %} My Work {% endblock title %}

{% block main %}

<div class="container">

    <div class="row align-items-start">
        {% for item in work_list %}
        <div class="card-group">
            <div class="card d-flex">
                <div class="card-body d-flex">
                    <h5 class="card-title flex-grow-1">{{item.work_name}}</h5>
                    <p class="card-text"><a href="https://{{item.work_url}}" target="_blank">Link</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock main %}